body{font-family: Verdana; color: #333333; font-size: small; background-color: 
               #D5D5FF}
.title       { font-family: Trebuchet MS; font-variant: small-caps; text-transform: 
               capitalize; color: #326987; font-size: large; font-weight: bold }
.label		 { text-align:right}